@media only screen and (min-width: 900px) {
    .image-container {
        width: 100%;
        height: 260px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 899px) {
    .image-container {
        width: 100%;
        height: 260px;
    }
}

.product-card-wrapper {
    border-radius: 2px;

    text-decoration: none;
    color: black;

    width: 250px;

    .image-container {
        width: 250px;
        height: 250px;
        overflow: hidden;
        border-radius: 0.5rem;
        background-color: #fff;

        img {
            object-fit: cover;
            width: 250px;
            height: 250px;
            transition: all 0.3s ease-in-out;
        }
    }

    .card-details {
        display: flex;
        flex-direction: column;
        padding: 1rem 0rem;

        .name {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 1rem;
            color: #505050;
            transition: color .2s ease-in-out;
        }

        .price {
            color: #6363ea;
            font-size: 1.1rem;
        }

        .buttons button {
            background: #c5c4cb;
            color: #000;
            border-radius: 2rem;
            transition: all 0.3s ease-in-out;
            padding: 0.4rem 1rem;
        }
    }
}

.card-details .buttons button:hover {
    background: #6363ea;
    color: #fff;
    border: 1px solid #6363ea;
    border-radius: 2rem;
}

.product-card:hover {
    .card-details .name {
        color: #000;
    }

    .image-container img {
        transform: scale(1.1);
        border-radius: 0.5rem;
        object-fit: cover;
        width: 250px;
        height: 250px;
    }
}
