@media only screen and (min-width: 900px) {
    .image-container {
        width: 100%;
        height: 260px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 899px) {
    .image-container {
        width: 100%;
        height: 260px;
    }
}

.product-card-wrapper {
    border-radius: 2px;
    text-decoration: none;
    color: black;
    width: 250px;

    .image-container {
        width: 250px;
        height: 250px;
        overflow: hidden;
        border-radius: 0.5rem;
        background-color: #fff;

        img {
            object-fit: cover;
            width: 250px;
            height: 250px;
            transition: all 0.3s ease-in-out;
        }
    }

    .card-details {
        display: flex;
        flex-direction: column;
        padding: 1rem 0rem;

        .name {
            width: 100%;
            height: 2.2rem;

            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;

            word-break: break-word;
            line-clamp: 2;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;

            font-size: 1rem;
            color: #505050;
            transition: color 0.2s ease-in-out;
        }

        .price {
            color: #6363ea;
            font-size: 1.4rem;
            margin-bottom: .4rem;
            font-weight: bold;
            transition: color 0.2s ease-in-out;
        }
    }
}

.product-card .buttons button {
    background: #c5c4cb;
    color: #000;
    border-radius: 0rem;
    height: 2.5rem;
    transition: all 0.3s ease-in-out;
    padding: 0.4rem 1rem;
    position: relative;
    z-index: 0;

    &::before{
        width: 0px;
        height: 0px;
        position: absolute;
        transform: rotate(-45deg);
        top: -13px;
        left: -13px;
        content: '';
        border: 10px solid transparent;
        border-bottom: 10px solid #ddd;
    }

    &::after{
        width: 0px;
        height: 0px;
        position: absolute;
        transform: rotate(45deg);
        right: -10px;
        bottom: -10px;
        content: '';
        border: 10px solid transparent;
        border-left: 10px solid #ddd;
    }

    &:hover {
        background: #6363ea;
        color: #fff;
    }
}

.product-card:hover {
    .card-details {
        .name {
            color: #000;
        }

        .price {
            color: #4444f7;
        }
    }

    .image-container img {
        transform: scale(1.1);
        border-radius: 0.5rem;
        object-fit: cover;
        width: 250px;
        height: 250px;
    }
}
