.product {
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 3px;
}

.product section:not(:first-child) {
    border-top: 1px solid #6363ea;
    padding: 10px auto;
}

.product section {
    padding: 1rem 0rem 3rem 0rem;
    h1 {
        padding: 1rem 0;
        font-size: 1.6rem;
    }
}

.product .info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.product .info .details {
    .name {
        padding: unset;
    }

    .price {
        font-weight: normal;
        font-size: 2.4rem;
    }

    .buttons{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        margin-top: 2rem;
    }
}



@media (min-width: 990px) {
    .product .info {
        flex-direction: row;
    }

    .product {
        max-width: 990px;
    }
}

@media (min-width: 1240px) {
    .product {
        max-width: 1200px;
    }
}
